.article-container{
  .article-content{
    width: 100%;
    padding: 20px;
    .articles-list{
      background-color: #fff;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      .top-articles{
        &__head{
          font-size: 30px;
          font-weight: bold;
          padding-bottom: 5px;
          border-bottom: solid 1px #333;
        }
        .top-article-content{
          margin-top: 20px;
          a{
            text-decoration: none;
            .top-articles__box{
              background-color: #dcdcdc;
              box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
              height: 100px;
              padding: 10px;
              margin-bottom: 20px;
              display: flex;
              .image-box{
                height: 80px;
                width: 80px;
                min-width: 80px;
                background-color: #fff;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
                img{
                  height: 100%;
                  -o-object-fit: cover;
                  object-fit: cover;
                  vertical-align: top;
                  width: 100%;
                }
              }
              .top-article-right{
                margin-left: 20px;
                color: #333;
                width: 100%;
                .article-title{
                  max-height: 36px;
                  font-size: 18px;
                  font-weight: bold;
                  overflow: hidden;
                  margin-bottom: 15px;
                }
                .article-writer{
                  font-size: 12px;
                  display: inline-block;
                }
                .article-favorites{
                  margin-top: 5px;
                  display: inline-block;
                  margin-left: 10px;
                  font-size: 12px;
                  .fa-star{
                    color: #ffa500;
                  }
                  span{
                    margin-left: 5px;
                  }
                }
                .article-tags{
                  margin-top: 5px;
                  font-size: 10px;
                  overflow: hidden;
                  li{
                    display: inline-block;
                    background-color: #c0c0c0;
                    border-radius: 25%;
                    padding: 0 2px;
                    margin-right: 5px;
                  }
                }
                .article-created_at{
                  font-size: 10px;
                  color: #666666;
                  float: right;
                  margin: 3px 20px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (min-width: 768px ){
.article-container{
  .article-content{
    margin: 0 auto;
    width: 100%;
    .articles-list{
      width: calc(100% - 300px);
      float: left;
    }
  }
}
.side-manu{
  float: right;
  width: 280px;
}
}

@media screen and (min-width: 868px ){
.article-container{
  .article-content{
    margin: 0 auto;
    width: 820px;
    .articles-list{
      width: calc(100% - 300px);
      float: left;
    }
  }
}
.side-manu{
  float: right;
  width: 280px;
}
}

@media screen and (min-width: 1068px ){
.article-container{
  .article-content{
    margin: 0 auto;
    width: 1020px;
    .articles-list{
      width: calc(100% - 300px);
      float: left;
    }
  }
}
.side-manu{
  float: right;
  width: 280px;
}
}