.article-container{
  header{
    height: 100px;
    background-color: #00bfff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    .site-title{
      float: left;
      padding: 10px 0 10px 10px;
      img{
        height: 80px;
      }
    }
    .to-userpage{
      padding: 25px 30px 25px 0;
      height: 100%;
      float: right;
      box-sizing: border-box;
      img{
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
  .article-content{
    background-color: #fff;
    margin: 20px 40px;
    padding: 20px;
    .top-articles{
      &__head{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: solid 1px #333;
      }
      .top-article-content{
        margin-top: 20px;
        .top-articles__box{
          background-color: #dcdcdc;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
          height: 100px;
          padding: 10px;
          display: flex;
          .image-box{
            height: 80px;
            width: 80px;
            background-color: #fff;
          }
          .top-article-right{
            margin-left: 20px;
          }
        }
      }
    }
  }
}