.article-container{
  .show-container{
    width: 100%;
    padding: 20px;
    .article-show-content{
      background-color: #fff;
      margin-bottom: 20px;
      h2{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding: 15px;
      }
    }
  }
}

@media screen and (min-width: 768px ){
  
}