<div class='article-container'>
  <header>
    <div class='site-title'>
      <%= image_tag 'myblogtitle.jpg' %>
    </div>
    <div class='to-userpage'>
      <%= image_tag 'men_icon.png' %>
    </div>
  </header>
  <div class='main-content article-content'>
  </div>
</div>