<div class='article-container'>
  <header>
    <div class='site-title'>
      <%# <h1 class='myblog-title'>My Blog %>
      <%= image_tag 'myblog-title'%>
    </div>
    <div class='to-userpage'>
      <%= image_tag 'men_icon.png' %>
    </div>
  </header>
  <div class='main-content article-content'>
  </div>
</div>