<div class='article-container'>

  <%= render partial: 'shared/main_header'%>

  <div class='show-container'>
    <div class='article-show-content'>
      <h2>
        <%= @article.title %>
    </div>

    <%= render partial: 'shared/side' %>
  </div>

</div>