.main-footer{
  background-color: #333333;
  padding: 20px;
  .share-area{
    h2{
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
    }
    .share-select{
      .share-twitter{
        color: #fff;
        margin-bottom: 10px;
        img{
          margin-top: 10px;
          height: 40px;
          border-radius: 20%;
        }
      }
      .share-other{
        color: #fff;
        img{
          margin: 10px 10px 0 0;
          height: 40px;
          border-radius: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
.main-footer{
  height: 150px;
  .share-area{
    .share-select{
      display: flex;
      .share-twitter{
        width: 49%;
      }
      .share-other{
        width: 49%;
      }
    }
  }
}
}