<div class='userpage-container'>
  <%= render partial: 'shared/main_header' %>

  <div class='userpage-main clearfix'>
    <div class='userpage-content'>
      <h2>
        <%= @user.name %>
        さんのページ
      </h2>
    </div>

    <%= render partial: 'shared/side'%>
  </div>

  <%= render partial: 'shared/main_footer'%>
</div>
