<footer class='main-footer'>
  <div class='share-area'>
    <h2>
      シェアする
    </h2>

    <div class='share-twitter'>
      <p>ツイッターでシェアする</p>
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </div>
    <div>
      シェア
    </div>
  </div>
</footer>