.userpage-container{
  .userpage-main{
    width: 100%;
    padding: 20px;
    .userpage-content{
      background-color: #fff;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px){
  .userpage-container{
    .userpage-main{
      margin: 0 auto;
      width: 100%;
      .userpage-content{
        width: calc(100% - 300px);
        float: left;
      }
    }
  }
}